@page "/paises/crear"
@inject NavigationManager navigationManager
@inject IHttpService http

<h2>Nuevo País</h2>

<PaisFormulario onValidSubmit="GrabarNuevo" Pais="pais" onCancel="Cancelar" />

@code {
    private Pais pais = new();

    private async Task GrabarNuevo()
    {
        var httpRespuesta = await http.Post<Pais>("api/paises", pais);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/paises");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/paises");
    }

}