@page "/paises/editar/{PaisId:int}"
@inject NavigationManager navigationManager
@inject IHttpService http

<h2>Modificar País</h2>
<PaisFormulario onValidSubmit="GrabarModificacion" Pais="pais" onCancel="Cancelar" />

@code {
    private Pais pais;
    [Parameter] public int PaisId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await MostrarPais();
    }

    private async Task MostrarPais()
    {
        var httpRespuesta = await http.Get<Pais>($"api/paises/{PaisId}");
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        else
        {
            pais = httpRespuesta.Respuesta;
        }
    }

    private async Task GrabarModificacion()
    {
        var httpRespuesta = await http.Put<Pais>($"api/paises/{PaisId}", pais);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/paises");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/paises");
    }

}